<div class="main">
  <div *ngIf="mode == 'player-selection'" class="board">
    <h1>Add your players!</h1>

    <div class="row" *ngFor="let row of rows">
      <ng-container *ngFor="let player of row">
        <mat-card class="card"
                  [style.backgroundColor]=player.colour
                  [style.color]="getTextColour(player.colour)"
                  [style.font-size]="'1.5em'">{{player.name}}
        </mat-card>
      </ng-container>
    </div>
    <div style="text-align:center">v 2020-06-14 7pm</div>
  </div>
  <div *ngIf="mode == 'chart'" class="chart">
    <h1>Scum graph</h1>
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="chartData"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [yAxisTickFormatting]="formatAxisTick"
      [xAxisTickFormatting]="formatAxisTick"
      [showGridLines]="showGridLines"
      [xScaleMin]="xScaleMin"
    >
    </ngx-charts-line-chart>
  </div>

  <div *ngIf="mode == 'none'">
    <h1>Loading scum graph...</h1>
    <p>
      Are you viewing this on something that isn't a Chromecast?
      Go to <a href="https://olliechick.co.nz/scumgraph">olliechick.co.nz/scumgraph</a> for more information.
    </p>
    <div style="text-align:center">v 2020-06-14 7pm</div>
  </div>
</div>
