.main {
  border: 50px solid lightblue;
  background-color: white;
  //overflow: hidden;

  height: calc(100% - 100px);
}

.board {
  background: white;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;

  height: 100%;
}

.row {
  flex: 1;

  display: flex;
  align-items: stretch;
  align-content: center;
}

mat-card {
  flex: 1;
  background-color: #fbfbfb;
  text-align: center;
  vertical-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

h1 {
  text-align: center;
}
